@model MvcProekt.Models.UserBooks

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>@Html.DisplayFor(model => model.Book.Title)</h4>
    <hr />
    <div style="display: flex; flex-direction: row;">
        <div style="width: 400px; margin-right: 20px">
            <img style="width: inherit" src="@Html.DisplayFor(model => model.Book.FrontPage)" alt="Book cover" />
        </div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Book.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Book.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Book.YearPublished)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Book.YearPublished)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Book.NumPages)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Book.NumPages)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Book.Publisher)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Book.Publisher)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Book.DownloadUrl)
            </dt>
            <dd class="col-sm-10">
                <a href="@Html.DisplayFor(model => model.Book.DownloadUrl)">Download here...</a>
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Book.Author.FullName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Book.Author.FullName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Book.BookGenres)
            </dt>
            <dd class="col-sm-10">
                @foreach (var genre in Model.Book.BookGenres)
                {
                    <p>
                        @genre.Genre.GenreName
                    </p>
                }
            </dd>
            <hr />
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Book.Reviews)
            </dt>
            <dd class="col-sm-10">
                @if (Model.Book.Reviews != null)
                {
                    @foreach (var review in Model.Book.Reviews)
                    {
                        <div class="list-group-item">
                            <h5 class="mb-1">@review.AppUser</h5>
                            <p class="mb-1">@review.Comment</p>
                            <small>Rating: @review.Rating</small>
                        </div>
                        <hr />
                    }
                }
                else
                {
                    <p>No reviews yet.</p>
                }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Registered"))
                    {
                    <form asp-action="AddComment" class="list-group-item" method="post">
                        <label>Your thoughts:</label>
                        <input type="hidden" name="id" value="@Model.Book.Id" />
                        <input class="form-control" name="input" />
                        <label>Rating:</label>
                        <input id="rating" class="form-control" name="rating" />
                            <td>
                                <p></p>
                                <button type="submit" class="btn btn-outline-info">Add comment...</button>
                            </td>
                    </form>
                    }
            </dd>
        </dl>
    </div>
</div>
<div style="margin-top: 20px">
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="Model.Id"><button type="button" class="btn btn-outline-success">Edit </button></a>
    }
    <a asp-action="Index"><button type="button" class="btn btn-outline-secondary">Back to the list</button></a>
</div>
