@model IEnumerable<MvcProekt.Models.UserBooks>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your Selected Books</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>@Html.DisplayNameFor(model => model.Book.Title)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img height="150px" src="@Html.DisplayFor(modelItem => item.Book.FrontPage)" alt="Book cover">
                </td>
                <td>@Html.DisplayFor(modelItem => item.Book.Title)</td>
                <td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-success">Edit</button></a>
                        <p></p>
                    }
                    <a asp-action="Details" asp-route-id="@item.Book.Id"><button type="button" class="btn btn-outline-success">Details</button></a>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <p></p>
                        <a asp-action="Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-danger">Delete</button></a>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <p></p>
                        <a asp-action="AddComment" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-info">Add Comment</button></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
