@model MvcProekt.Models.Books

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <div style="display: flex; flex-direction: row;">
        <div style="width: 400px; margin-right: 20px">
            <img style="width: inherit" src="@Html.DisplayFor(model => model.FrontPage)" alt="Book cover" />
        </div>
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.YearPublished)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.YearPublished)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.NumPages)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.NumPages)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Publisher)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Publisher)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.DownloadUrl)
            </dt>
            <dd class = "col-sm-10">
                <a href="@Html.DisplayFor(model => model.DownloadUrl)">Download here...</a>
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Author.FullName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Author.FullName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BookGenres)
            </dt>
            <dd class="col-sm-10">
                @foreach (var genre in Model.BookGenres)
                {
                    <p>
                        @genre.Genre.GenreName
                    </p>
                }
            </dd>
            <hr />
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Reviews)
            </dt>
            <dd class="col-sm-10">
                @if (Model.Reviews != null && Model.Reviews.Count > 0)
                {
                    @foreach (var review in Model.Reviews)
                    {
                        <div class="list-group-item">
                            <h5 class="mb-1">@review.AppUser</h5>
                            <p class="mb-1">@review.Comment</p>
                            <small>Rating: @review.Rating</small>
                        </div>
                    }
                }
                else
                {
                    <p>No reviews yet.</p>
                }
            </dd>
        </dl>
    </div>
</div>
<div style="margin-top: 20px">
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="Model.Id"><button type="button" class="btn btn-outline-success">Edit </button></a>
    }
    <a asp-action="Index"><button type="button" class="btn btn-outline-secondary">Back to the list</button></a>
</div>
